.help-center {
  padding: 1rem;
}

#contact app-contact-card {
  max-width: 300px;
  margin-bottom: 1rem;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
