<div class="reset-password-container">
  <h2>Nouveau mot de passe</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input id="password" type="password" formControlName="newPassword" />
      <div class="error-message" *ngIf="form.get('newPassword')?.invalid && form.get('newPassword')?.touched">
        Mot de passe requis
      </div>
    </div>
    <button type="submit">Valider</button>
  </form>
  <div class="message" *ngIf="message">{{ message }}</div>
</div>
