__pycache__/
*.pyc
.env
.env.local
backend/.env
backend/.env.local
venv/

# Ignore backend dependencies
backend/node_modules/
backend/venv/

# Ignore frontend dependencies and build outputs
Frontend/node_modules/
Frontend/dist/
