<div class="advanced-tracking">
  <form [formGroup]="form" (ngSubmit)="search()" class="search-form">
    <mat-form-field>
      <input matInput placeholder="Tracking number" formControlName="tracking_number">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Reference" formControlName="reference">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sender" formControlName="sender">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Recipient" formControlName="recipient">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="startPicker" placeholder="Start date" formControlName="start_date">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="endPicker" placeholder="End date" formControlName="end_date">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Search</button>
    <button mat-button type="button" (click)="export('csv')">CSV</button>
    <button mat-button type="button" (click)="export('excel')">Excel</button>
    <button mat-button type="button" (click)="export('xml')">XML</button>
  </form>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="tracking_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tracking #</th>
      <td mat-cell *matCellDef="let row">{{row.tracking_number}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>
    <ng-container matColumnDef="carrier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Carrier</th>
      <td mat-cell *matCellDef="let row">{{row.carrier}}</td>
    </ng-container>
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
      <td mat-cell *matCellDef="let row">{{row.created_at | date:'short'}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [length]="total" [pageSize]="10" [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</div>
