.ats {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}



@media (max-width: 480px) {
  input,
  textarea,
  button {
    width: 100%;
  }
}



.error {
  color: #d9534f;
  font-size: 12px;
}
