<div class="history">
  <h2>Tracking History</h2>
  <ng-container *ngIf="history.length; else none">
    <ul>
      <li *ngFor="let id of history">
        <a [routerLink]="['/track', id]">{{ id }}</a>
        <button role="button"
                tabindex="0"
                aria-label="Delete {{id}} from history"
                (click)="delete(id)"
                (keydown.enter)="delete(id)"
                (keydown.space)="delete(id)">Delete</button>
      </li>
    </ul>
    <button role="button"
            tabindex="0"
            aria-label="Clear tracking history"
            (click)="clear()"
            (keydown.enter)="clear()"
            (keydown.space)="clear()">Clear History</button>
  </ng-container>
  <ng-template #none>
    <p>No history yet.</p>
  </ng-template>
</div>
