.history {
  padding: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.controls div[cdkDropList] {
  display: flex;
  gap: 0.5rem;
}

.mat-column-actions {
  width: 80px;
}
